<template name="jobHeader">
  <div class="job-content-header pure-g">
      <div class="pure-u-3-4">
          <h1 class="job-content-title">{{name}}</h1>
          <p class="job-content-subtitle">
            <span>{{_id}}</span>
              on <a href="{{linkForNode}}">{{node}}</a> started <span>{{localizedDateAndTime startTime}}</span>
              {{#if endTime}}
               ended <span>{{localizedDateAndTime endTime}}</span>
              {{/if}}
          </p>
      </div>

      <div class="job-content-controls pure-u-1-4">
          <button class="secondary-button pure-button toggle-job">
            {{#if equals status 1}}
            Start
            {{else}}
            Stop
            {{/if}}
          </button>

      </div>
  </div>

</template>
