<template name="jobList">
  <div id="list" class="pure-u-1">

      {{#each allJobs}}
      <div class="job-item clickable-cursor
        {{#if equals status 0}}job-item-running{{/if}}
        {{#if isSelected _id}}job-item-selected{{/if}} pure-g">


          <div class="pure-u">
              <h5 class="job-node">{{node}}</h5>
              <h4 class="job-name">{{name}}yadayadyadyadyadyadyadyadyadyadyaday</h4>
              <p class="job-desc">
                <p class="job-content-subtitle">
                  <span>{{_id}}, started {{localizedDateAndTime startTime}}</span>
                </p>
              </p>
          </div>
      </div>
      {{/each}}

  </div>

</template>
